.brand-list-wrap {
  width: 100%;
  height: 100%;

  background-color: #f2f2f2;
  flex-wrap: wrap;
  display: flex;
  margin-top: 5rem;
  font-size: 1.4rem;
  padding: 30px;
  ul {
    width: 25%;
    padding: 0 10px 16px 10px;
    li {
      padding: 10px;
    }
  }
}
