.life-container {
  h2 {
    height: 140px;
    padding-top: 47px;
    p {
      font-size: 44px;
      text-align: center;
    }
  }
  .tab-list {
    width: 80%;
    margin: 20px auto;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    li {
      width: 19%;
      height: 9rem;
      border: 1px solid green;

      button {
        font-size: 26px;
        border: 1px solid blue;
        width: 100%;
        height: 100%;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  .life-section {
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    .side-banner {
      width: 40%;
      border: 1px solid green;
    }
    .item-container {
      width: 80%;
      height: auto;
      border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 auto;

      li {
        border: 1px solid blue;
        width: 30rem;
        padding: 1%;
        .title {
          display: block;
          width: 100%;
          border: 1px solid red;
          font-size: 1.6rem;
          font-weight: 600;
          padding: 1rem 0;
        }
        .detail {
          display: block;
        }
        .price-wrap {
          display: block;
          .sale {
            float: right;
          }
        }
      }
    }
  }
}
