@import '/src/assets/styles/abstracts/variables.scss';

// main container 
.main-layout-container {
    // thumbnail 
    .thumbnail {
        &__container {
            width: 1560px;
            margin: 0 auto; 
        }
        &__title {
            text-align: center;
            
        }
    }
}