.new-container {
    margin: 0 30px; 
    padding-top: 80px; 

   .hot-tag-container{
       width: 100%; 
       @include flex(row, space-between, space-between); 
   }
   .hot-tag-area {
       @include flex(row, center, center); 
       h4 {
           padding-right: 30px; 
       }
       .tag {
            margin-left: 5px; 
            padding: 0 20px; 
            line-height: 40px;
            border: 1px solid #d9d9d9;
            border-radius: 30px;
            cursor: pointer;
            &:hover {
                border: 1px solid #49C7DF;
                background-color: #49C7DF;
                button {
                    color: #fff;
                }
            }
        }
   }
   .contents {
       @include flex(row, center, center); 
   }


   // 230323 phr: product list
   .product-container {
    width: 100%; 
    max-width: auto !important;  
    .product-inner {
        max-width: auto; 
        flex-wrap: wrap;
    }
    li {
        margin-bottom: 20px; 
        width: 16.6%; 
    }
   }
}