.product-carousel {
    .product-item {
        width: 20%;
        margin-left: 20px;
        &:first-child {
            margin-left: 0;
        } 
        .img-area {
            width: 100%; 
            img {
                width: 100%; 
            }
        }
    }
    
    .title {
        margin-top: 34px; 
        @include ellipsis(1);
        @include font(20px, 400, #333, 1);
        text-align: left;
    }
    .des-area {
        margin-top: 10px;
        height: 26px; 
        @include font(12px, 400, #666, 1.5);
        text-align: left;
        word-break: keep-all;
    }
    .price-area {
        @include flex(row, space-between, center);
        .discount {
            @include font(18px, 600, #333, 1.5);
        }
        .original-price {
            @include font(14px, 400, #808080, 1.5);
            text-decoration: line-through;
        }
        .percent {
            @include font(16px, 600, #ff4000, 1.5);
        }
    }
    // carousel 
    .slick-slider {
        width: 100%;
        height: 100%;
    }
    .slick-dots {
        display: none; 
    }
    .slick-arrow {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(-50, 0);
        &.slick-prev {
            left: 2rem;
        }
        &.slick-next {
            right: 2rem;
        }
    }
    .slick-prev {
        &:before {
            display: none;
        }
        &:after {
            width: 100%;
            display: block; 
            content: '';
            height: 56px;
            background: url('/assets/images/btn_prev.png') no-repeat center center / 100%;
        }
    }
    .slick-next {
        &:before {
            display: none;
        }
        &:after {
            display: block;
            content: '';
            height: 56px; 
            background: url('/assets/images/btn_next.png') no-repeat center center / 100%;
        }
    }
    // active carousel slide
    .slick-active {
    }
}