@import '/src/assets/styles/abstracts/variables.scss';

.search-header-container {
    position: relative;
    padding: 0 40px;
    width: 100%;
    height: 65px; 
    // logo-area
    h1, a {
        display: inline-block;
    }
    .logo-black {
        display: inline-block;
        width: 172px;
        height: 62px; 
        background-image: url('/assets/images/logo-dark.png');
    }

    // search-area
    .search-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        width: 420px;
        height: 30px;
        border-bottom: 2px solid #000;
        // search 
        .search-area {
            width: 100%;
            input {background-color:transparent; border: none; }
            .search-more {
                display: none; 
            }
        }

    }

    // util-area
    .util-area {
        position: absolute; 
        top: 0;
        right: 4rem;
        @include flex(row, row, row);
        button {
            padding: 12px 0;
            width: 70px;
            height: 65px;
            i {
                display: block;
                margin: 0 auto; 
            }
            span {
                display: inline-block; 
                margin-top: 2px; 
                text-align: center;
            }
        }
    }
}