.test-container {
    display: flex;
    padding: 20px; 
    width: 100%;
    .item {
        width: 50%; 
        margin: 20px; 
    }
    button {
        margin-left: 10px; 
        background-color: #000;
        color: #fff;
        width: 100px;
        height: 40px; 
        border-radius: 6px;
    }
}
.flex {
    display: flex; 
}
.items-center {
    align-items: center;
}
.m-b10 {
    margin-bottom: 10px; 
}