ul {
    list-style-type: none; 
    padding: 0; 
}
.tab-container {
    margin-top: 30px;
    margin-left: 20px; 
    max-width: 500px; 
    .tab-list {
        display: flex;
        .tab {
            flex: 1; 
            padding: 10px 20px; 
            cursor: pointer;
            background-color: #f2f2f2; 
            border: 1px solid #ccc;
            &.active {
                background-color: #e6e6e6;
                font-weight: bold; 
            }
        }
    }
    .tab-panel-list {
        margin-top: 30px;
        // li {
        //     display: none; 
        //     padding: 20px;
        //     &.active {
        //         display: block; 
        //     }
        // }
    }
}