@import "/src/assets/styles/abstracts/variables.scss";
.women-container {
    margin: 0 auto;
    width: 1880px;

    // exhibition 
    .exhibition-container {
        .exhibition-area {
            display: flex;
            margin: -10px;
            li {
                position: relative; 
                margin: 0 10px; 
                width: 618px; 
                a {
                    display: block;
                    > img {
                        width: 100%; 
                    }
                    .txt {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        color: #fff;
                        strong {
                            font-size: 28px;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: 0.2em;
                        }
                        p {
                            margin-top: 16px; 
                            display: block;
                            overflow: hidden;
                            white-space: ellipsis;
                            font-size: 16px; 
                            
                        }
                    }
                }
            }
        }
    }
    // cate-link
    .cate-link-area {
        margin-top: 20px; 
        ul {
            display: flex;
            flex-wrap: nowrap;
            margin: -10px;
            li {
                margin: 0 10px; 
                flex: 1;
                text-align: center;
                border: 2px solid #000;
                a {
                    display: block;
                    padding: 25px 0;
                    width: 100%; 
                    font-size: 24px; 
                    font-weight: 300;
                    line-height: 1.2;
                    em {
                        font-size: 14px; 
                    }
                }
                &:hover {
                    background-color: #000;
                    color: #fff ;
                }
            }
        }
    }
    // best pick 
    .best-pick-container {
        .best-pick-tab {
            margin: 16px 0 26px; 
            display: flex; 
            justify-content: center;
            button {
                margin: 0 13px 0 14px; 
                height: 25px; 
                font-size: 1.6rem;
                text-transform: uppercase;
                color: #666;
            }
            .active {
                button {
                    color: #333; 
                    font-weight: 500;
                    font-size: 16px; 
                    border-bottom: 2px solid #000;
                } 
            }
        }
        //product container 공통 수정
        .product-container {
            max-width: 100%;
            width: 100%;
            .product-inner {
                max-width: 1880px;
                li {
                    width: 216px;
                }
                .img-area > img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    // exclusive-container
    .exclusive-container {
        margin-bottom: 80px; 
    }
    // middle banner
    .md-banner-container {
        display: flex; 
        align-items: center;
        justify-content: center;
        .video-area {
            margin-right: 15px;
        }
        .issue-area {
            width: 877px;
            height: 373px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                > img {
                    height: 100%; 
                }
            }
            
        }
    }
    .hot-keyword-container {
        display: flex;
        justify-content: center;
        // rank 
        .rank-container {
            padding-top: 52px;
            width: 295px;
            .rank-area {
                h4 {
                    font-size: 23px;
                    color: #333;
                }
                ul {
                    margin-top: 25px;
                    padding-bottom: 38px;
                    li {
                        display: flex; 
                        align-items: center;
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .num {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px; 
                            width: 18px;
                            height: 18px;
                            font-size: 12px;
                            background-color: $primary;
                            color: $white;
                        }
                        a {
                            max-width: 250px;
                            @include ellipsis(1);
                            color: $black1;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        // product 
        .product-list-container {
            padding: 52px 0 20px 54px;
            width: 1208px;
            border-left: 1px solid $border-color-01;
            box-sizing: border-box;
            .title {
                margin-bottom: 25px; 
                font-size: 38px;
                text-transform: uppercase;
                color: $black1;
                font-weight: 200;
            }
            .product-container {
                .product-inner {
                    li {
                        width: 160px;
                        .img-area {
                            height: 240px; 
                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .brand {
                        width: 100%;
                        @include ellipsis(1);
                    }
                }
                
            }
        }
    }
}