$black: #000;
$white: #fff;
$primary: #000;

//black 
$black1: #333;

$bgcolor-gray-01: #F7F7F7;
$bgcolor-gray-02: #F9F9F9;
$bgcolor-gray-03: #F7F8FA;
$bgcolor-gray-04: #F1F0F4;
$bgcolor-gray-05: #EFF1F3;
$bgcolor-gray-06: #E4E4E4;
$bgcolor-gray-07: #E5E8EB;

$color-gray-01 : #333333;
$color-gray-02 : #DCDCDC;
$color-gray-03 : #ABABAB;
$color-gray-04 : #555555;

$border-color-01: #CCCCCC;
$border-color-02: #DADADA;
$border-color-03: #C4C4C4;
$border-color-04: #E9E9E9;

$placeholder : #777777;//임시
// $disabled : ;
$color-disabled-01 : #8ABCB8;
$color-disabled-02 : #C3DDDB;

//---------- value ----------//