// ------- common ------- //
* {
  font-family: 'Noto Sans', sans-serif !important;
}
html,
body {
  font-size: 10px;
  letter-spacing: -0.5px;
  font-family: 'Noto Sans', sans-serif !important;
}
body {
  &.no-scroll {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
em {
  font-style: normal; 
}
.ir {
  position: absolute;
  text-indent: -9999px;
}
.hidden {
  display: none !important;
}
.bold {
  font-weight: bold !important;
}
.display-block {
  display: block; 
}
.display-inblock {
  display: inline-block;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.w100 {
  width: 100%; 
}
.ir {
  overflow: hidden;
  text-indent: -9999px;
}
